MYSQL_ENGINE=mariadb
MYSQL_VERSION=10.6
MYSQL_ROOT_PASSWORD=whaticket_dev_password
MYSQL_DATABASE=whaticket_dev
MYSQL_PORT=3308
TZ=America/Sao_Paulo

BACKEND_PORT=8084
BACKEND_SERVER_NAME=
BACKEND_URL=http://whaticket.digiyou.com.br
PROXY_PORT=8093
JWT_SECRET=dev_42894723984723984723
JWT_REFRESH_SECRET=dev_234892348923489234

FRONTEND_PORT=8093
FRONTEND_SSL_PORT=3443
FRONTEND_SERVER_NAME=
FRONTEND_URL=http://whaticket.digiyou.com.br:8093
